@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

* {
  padding: 0;
  margin: 0;
  /* border: black solid 1px; */
  font-family: Itim, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.input {
  height: 1.8em;
  border-radius: 5px;
}

.pannel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 5px;
  max-width: fit-content;
  min-height: 10em;
  background-color: black;
  opacity: 0.5;
}

.pannel > p {
  opacity: 1;
  color: white;
}
